@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unna';
  src: url('../fonts/Unna-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Unna-Regular.woff') format('woff'), url('../fonts/Unna-Regular.ttf')  format('truetype'), url('../fonts/Unna-Regular.svg#Unna-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unna';
  src: url('../fonts/Unna-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Unna-Bold.woff') format('woff'), url('../fonts/Unna-Bold.ttf')  format('truetype'), url('../fonts/Unna-Bold.svg#Unna-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body{
	margin:0;
	padding:0;  
	font-family: 'Helvetica'; 
	font-weight: 400;
	font-size: 12px;
	line-height:1.5;
	color:rgb(0, 0, 0);
	min-width: 360px;
    letter-spacing: 0.015em;
}

.wrapper{
	max-width:1230px;
	margin:0 auto;
	padding:0 40px;
}

header, footer, nav, section, main, article, aside{
    display: block;
}

h1, h2, h3 {
    margin: 0;
}

button, textarea, input {
    font-family: 'Helvetica';
}

a{
    font-size: 12px;
    color: rgb(249, 245, 239);
}

a:hover{
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.between {
    justify-content: space-between;
}

/* header */

header .first_line {
    background-color: rgb(36, 31, 22);  
    padding: 5px 0;
}

header .wrapper {
    position: relative;
}

header .mobile_search {
    display: none;
    background: url(../images/sprites.svg) no-repeat -8px -9px;
    width: 24px;
    height: 24px;
    margin-top: 4px;
}

header .wpcf7-form-control-wrap {
    display: block;
    position: relative;
}

header .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    background-color: rgb(36, 31, 22);
    border: none;
    height: 30px;
    width: 300px;
    outline: none;
    padding-left: 40px;
    font-size: 12px;
    color: rgb(249, 245, 239);
    text-transform: uppercase;
}

header .wpcf7-form-control-wrap::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -8px -9px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 3px;
}

header .wpcf7-form-control-wrap::after {
    content: "search";
    position: absolute;
    left: 0;
    top: 7px;
    padding-left: 33px;
    font-size: 12px;
    color: rgb(249, 245, 239);
    text-transform: uppercase;
}

header .form input:not([type=submit]):focus {
	border: none;
}

header .wpcf7.active  {
    display: block;
    position: absolute;
    top: -1px;
    left: 45px;
    right: 15px;
    z-index: 1;
}

header .wpcf7.active input {
    background: #f9f5ef;
    width: 100%;
}

header  .wpcf7.active .wpcf7-form-control-wrap::after {
    padding-left: 15px;
    color: rgb(36, 31, 22);
}

header .select {
    position: relative;
    margin: auto 5px;
    cursor: default;
}

header .select .select_field {
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(249, 245, 239);
    text-transform: uppercase;
    padding: 0 20px 0 10px;
    position: relative;
}

header .select .select_field:before{
    content: "";
    background: url(../images/sprites.svg) no-repeat -179px -25px;
    width: 10px;
    height: 8px;
    position: absolute;
    right: 3px;
    top: 6px;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

header .select.active .select_field:before {
    top: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

header .select ul {
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 29px;
    left: 0;
    z-index: 2;
}

header .select.active ul {
	display:block;
}

header .select ul li {
    display: block;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #f9f5ef;
    height: 39px;
    line-height: 39px;
    font-size: 12px;
    color: rgb(36, 31, 22);
    text-transform: uppercase;
    text-align: center;
    padding: 0 17px;
	cursor:default;
}

header .select ul li:hover {
    background-color: #f9f5ef;
}

header .select ul li.active {
    display: none;
}

header .first_line a {
    display: block;
    margin: auto 0 auto 20px;
}

header .account {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.8px;
}

header .favorites {
    background: url(../images/sprites.svg) no-repeat -44px -9px;
    width: 29px;
    height: 24px;
}

header .basket {
    background: url(../images/sprites.svg) no-repeat -86px -8px;
    min-width: 40px;
    height: 26px;
    padding: 5px 2px 5px 25px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: right;
}

header .second_line {
    background-color: rgb(249, 245, 239);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 20px 0 15px;
    z-index: 1;
    position: relative;
}

.logo {
    display: block;
    background-color: rgb(36, 31, 22);
    width: 100px;
    height: 85px;
    margin: 0 auto 20px;
}

.menu{
	margin:0 auto;
	padding:0;    
}

.menu:after{
	content:"";
	display:block;
	clear:both;
}

.menu li{
    display: block;
    float: left;
    position: relative;
}  

.menu a{
    display: block; 
    text-decoration: none;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 23px;
}

header .menu .with_arrow::after {
    content: "";
    background: url(../images/sprites.svg) no-repeat -143px -25px;
    width: 10px;
    height: 8px;
    position: absolute;
    right: 9px;
    top: 5px;
}

.menu .submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1001;
}

.menu li:hover .submenu {
    display: block;
}

.menu .submenu li {
    position: relative;
    transition: all .2s linear 0s;
}

.menu .submenu li a {
    position: relative;
    text-decoration: none;
}

.mobile_menu {
    display: none;
}

.mobile_menu.button {
    display: none;
    border: 2px solid rgb(36, 31, 22);
    color: rgb(36, 31, 22);
    text-transform: uppercase;
    margin: 0 auto;
}

/* slider_screen */

.slider_screen {
    background: #f9f5ef;
    height: 540px;
    position: relative;
    padding-top: 60px;
}

.slider_screen .background1 {
    background: url(../images/birds_bg.png) rgb(188, 174, 149); 
    position: absolute;
    right: 0;
    top: 20px;
    width: 82.5%;
    height: 440px; 
}

.slider_screen .background2 {
    background: url(../images/branches_bg_1.jpg);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 58%;
    height: 440px;
}

.slider_screen .slider_wr {
    position: relative;
}

.slider_screen .dark_background {
    display: none;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.transparent {
    border: 15px solid rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.transparent:before {
    content: "";
    border-top: 15px solid rgba(255,255,255,0.5);
    border-left: 15px solid rgba(255,255,255,0.5);
    position: absolute;
    top: -15px;
    left: -15px;
    width: 32%;
    height: 75%;
}

.transparent:after {
    content: "";
    border-right: 15px solid rgba(255,255,255,0.5);
    border-bottom: 15px solid rgba(255,255,255,0.5);
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 32%;
    height: 75%;
}

h1, h2 {
    font: 700 60px "Unna";
    color: rgb(249, 245, 239);
}

.slider_screen .description {
    font-size: 18px;
    color: rgb(249, 245, 239);
    margin: 18px 0;
    line-height: 1.7;
}

.button {
    display: block;
    border: 2px solid rgb(249, 245, 239);
    border-radius: 35px;
    background: rgba(41, 36, 33, 0);
    width: 220px;
    height: 56px;
    line-height: 53px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(249, 245, 239);
    text-align: center;
    outline: none;
    box-sizing: border-box;
    text-decoration:none;
    cursor:pointer;
}

.slider_screen .button {
    position: absolute;
    left: 95px;
    bottom: 118px;
}

/* range_screen */

.range_screen {
    background: #f9f5ef;
    padding: 40px 0;
}

.range_screen .designs_wr {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-gap: 40px;
    grid-template-areas: 
        "a b c"
        "a b c"
        "a e e"
        "d e e"
        "d e e"
        "d e e"
        "d g h"
        "f g h"
        "f g h"
        "l l m"
        "l l m";
}

.range_screen .design_wr {
    position: relative;
    padding-top: 140%;
}

.range_screen .design_wr.sq {
    padding-top: 100%;
}

.range_screen .design_wr.hor {
    padding-top: 47.5%;
}

.range_screen .design_wr .design {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.caption {
    font: 700 66px "Unna";
    color: rgb(249, 245, 239);
    text-align: center;
}

.range_screen .caption  {
    padding: 55px 55px;
    line-height: 0.9;
}

.range_screen .design_wr.hor .caption {
    text-align: left;
}

.range_screen .design_wr .transparent {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms linear;
}

.range_screen .ver .transparent:before, .range_screen .ver .transparent:after{
    width: 58%;
    height: 40%;
}

.range_screen .sq .transparent:before, .range_screen .sq .transparent:after{
    width: 41%;
    height: 41%;
}

.range_screen .hor .transparent:before, .range_screen .hor .transparent:after{
    width: 40%;
    height: 50%;
}

.range_screen .design_wr:hover .transparent {
    border: 0px solid rgba(255,255,255,0.7);
}

.range_screen .design_wr:hover .transparent::before, .range_screen .design_wr:hover .transparent::after {
    border: 0px solid rgba(255,255,255,0.7);
}

.range_screen .design_wr.rings_sets {
    grid-area: a;
}

.range_screen .rings_sets .design{
    background: url(../images/wedding-sets.jpg) no-repeat center;
}

.range_screen .design_wr.classic {
    grid-area: b;
}

.range_screen .classic .design{
    background: url(../images/classic.jpg)no-repeat center;
}

.range_screen .design_wr.modern {
    grid-area: c;
}

.range_screen .modern .design{
    background: url(../images/modern.jpg)no-repeat center;
}

.range_screen .design_wr.vintage {
    grid-area: d;
}

.range_screen .vintage .design{
    background: url(../images/vintage.jpg) no-repeat center;
}

.range_screen .design_wr.branch {
    grid-area: e;
}

.range_screen .branch .design{
    background: url(../images/branch.jpg) no-repeat center;
}

.range_screen .design_wr.heavy {
    grid-area: f;
}

.range_screen .heavy .design{
    background: url(../images/heavy.jpg) no-repeat center;
}

.range_screen .design_wr.bridal_sets {
    grid-area: g;
}

.range_screen .bridal_sets .design {
    background: url(../images/bridal_sets.jpg) no-repeat center;
}

.range_screen .design_wr.nature_inspired {
    grid-area: h;
}

.range_screen .nature_inspired .design{
    background: url(../images/nature.jpg) no-repeat center;
}

.range_screen .design_wr.personalised {
    grid-area: l;
}

.range_screen .personalised .design{
    background: url(../images/personalised.jpg) no-repeat center;
}

.range_screen .design_wr.crown {
    grid-area: m;
}

.range_screen .crown .design{
    background: url(../images/crown.jpg) no-repeat center;
}

.range_screen .design_wr .design {
    background-size: cover;
}

/* order_screen */

.order_screen {
    background: #f9f5ef;
}

.order_screen .banner {
    background: url(../images/branches_bg_2.jpg) center;
    background-size: cover;
    padding:65px 40px 75px;  
    text-align: center;
    position: relative;
}

.order_screen .banner .individual {
    font-size: 20px;
    font-weight: 300;
    color: rgb(249, 245, 239);
    margin: 5px 0 32px;
}

.order_screen .button {
    margin: 0 auto;
    width: 260px;
}

.order_screen .transparent {
    border: 15px solid #bcae95;
}

.order_screen .transparent:before, .order_screen .transparent:after{
    width: 28%;
    height: 58%;
}

/* instagram_screen */

.instagram_screen {
    background: #f9f5ef;
    padding: 70px 0 50px;
}

.instagram_screen .follow {
    font-size: 24px;
    color: rgb(36, 31, 22);
    text-align: center;
}

.instagram_screen h3 {
    font-size: 15px;
    color: rgb(36, 31, 22);
    text-align: center;
    margin: 5px 0 25px;
}

.instagram_screen h3 a {
    color: #a89f8d;
    text-decoration: none;
    font-size: 15px;
}

.instagram_screen .carousel{
    position: relative;
}

.instagram_screen .carousel .carousel_wr{
    overflow: hidden;
    margin: 0 -20px;
}
.instagram_screen .carousel .review_wrapper {
    width: 100%;
    overflow: hidden;
}

.instagram_screen .review_container {
    width: 100%;
}

.instagram_screen .carousel .long{
	width:1000%;
	-webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
}

.instagram_screen .carousel .one_doc{
    padding: 0 20px;
    box-sizing: border-box;
    float: left;
    width: 2.5%;
}

.instagram_screen .carousel .one_doc .inner{
	width: 100%;
    font-size: 0;
}

.instagram_screen .carousel .one_doc img{
	width: 100%;
}

.instagram_screen .carousel .controls {
    margin: 28px auto 0;
    width: 68px;
    position: relative;
}

.instagram_screen .carousel .control{
    background: url('../images/sprites.svg') no-repeat -153px -63px;
	width: 18px;
	height: 18px;
	cursor:pointer;
}

.instagram_screen .carousel .control.next{
    background-position: -183px -63px;
    float: right;
}

.instagram_screen .carousel .controls::before {
    content: "";
    background-color: rgb(148, 137, 117);
    position: absolute;
    left: 33px;
    top: -4px;
    width: 2px;
    height: 26px;
}

/* footer */

footer {
    background-color: #241f16;
    padding: 40px 0 20px;
}

footer .logo {
    background-color: rgb(188, 174, 149);
}

footer .line {
    background-color: rgb(188, 174, 149);
    width: 100%;
    height: 1px;
    margin: 20px 0;
}

footer .footer_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .menu a {
    font-size: 14px;
    color: rgb(188, 174, 149);
}

footer .social_icons {
    margin: 38px auto 17px;
}

footer .social_icons .icon {
    background: url(../images/sprites.svg) no-repeat -7px -57px;
	width: 30px;
	height: 30px;
    margin: 0 12px;
}

footer .social_icons .vk.icon {
    background-position: -48px -57px;
}

footer .social_icons .insta.icon {
    background-position: -86px -57px;
}

footer .copyright {
    font-size: 13px;
    font-weight: 300;
    color: rgb(188, 174, 149);
    text-align: center;
}


@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1366px) {
    
}

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
    
    .slider_screen h1, h2 {
        text-align: center;
    }

    .slider_screen .description {
        text-align: center;
    }
    
    .range_screen .designs_wr {
        grid-template-columns:  repeat(2, 1fr);
        grid-gap:20px;
        grid-template-areas: 
            "a b"
            "a b"
            "a e"
            "f e"
            "f e"
            "d c"
            "d c"
            "d g"
            "l g"
            "l g"
            "h m"
            "h m"
            "h m";
    }
    
    .range_screen .personalised .design {
        background: url(../images/personalised.jpg) no-repeat right;
    }
    
    .range_screen .design_wr.hor {
        padding-top: 100%;
    }
    
    .range_screen .design_wr.hor .caption{
        text-align: center;
    }
}

@media screen and (max-width: 1023px) {
    header .navbar {
        display: none;
    }
    
    .mobile_menu.button {
        display: block;
    }
    
    .instagram_screen .review_container {
        width: 133%;
    }
    
    footer .menu li {
        float: none;
    }
	
    footer .menu li a {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    
    header .mobile_search {
        display: block;
    }
    
    header .wpcf7 {
        display: none;
    }
    
    .caption {
        font-size: 50px;
    }
    
    .instagram_screen .review_container {
        width: 200%;
    }
    
    .instagram_screen .carousel .one_doc {
        padding: 0 10px;
    }
		
}

@media screen and (max-width: 639px) {
    .range_screen .designs_wr {
        grid-template-columns: 1fr;
        grid-gap:20px;
        grid-template-areas: 
            "a"
            "a"
            "a"
            "b"
            "b"
            "e"
            "e"
            "e"
            "f"
            "f"
            "c"
            "c"
            "d"
            "d"
            "d"
            "g"
            "g"
            "g"
            "l"
            "l"
            "h"
            "h"
            "h"
            "m"
            "m";
    }

}


/*Coin Slider jQuery plugin CSS styles*/

.coin-slider { 
    overflow: hidden; 
    zoom: 1; 
    position: relative; 
}

.coin-slider a{ 
    text-decoration: none; 
    outline: none; 
    border: none; 
}

.coin-slider a img {
    width: 1200px;
}

.cs-buttons { 
    font-size: 0px; 
    float: left; 
    position: absolute;
    bottom: 35px;
}

.cs-buttons a { 
    margin: 0 5px; 
    height: 12px; 
    width: 12px; 
    float: left; 
    border: 2px solid rgb(255, 255, 255); 
    border-radius: 50%;
    background-color: rgba(231, 232, 209, 0.6);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-indent: -1000px; 
}

.cs-buttons a.cs-active { 
    background-color: rgb(255, 255, 255); 
}

.cs-active { 
    background-color: rgb(255, 255, 255); 
    color: #FFFFFF; 
}

.cs-title { 
    max-width: 450px;
}

.cs-prev, 
.cs-next { 
    display: none;
}

@media screen and (max-width: 1279px) {
    .cs-title { 
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}


