@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unna';
  src: url('../fonts/Unna-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Unna-Regular.woff') format('woff'), url('../fonts/Unna-Regular.ttf')  format('truetype'), url('../fonts/Unna-Regular.svg#Unna-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unna';
  src: url('../fonts/Unna-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Unna-Bold.woff') format('woff'), url('../fonts/Unna-Bold.ttf')  format('truetype'), url('../fonts/Unna-Bold.svg#Unna-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body{
	margin:0;
	padding:0;  
	font-family: 'Helvetica'; 
	font-weight: 400;
	font-size: 12px;
	line-height:1.5;
	color:rgb(0, 0, 0);
	min-width: 360px;
    letter-spacing: 0.015em;
}

.wrapper{
	max-width:1230px;
	margin:0 auto;
	padding:0 40px;
}

header, footer, nav, section, main, article, aside{
    display: block;
}

h1, h2, h3 {
    margin: 0;
}

button, textarea, input {
    font-family: 'Helvetica';
}

a{
    font-size: 12px;
    color: rgb(249, 245, 239);
}

a:hover{
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.between {
    justify-content: space-between;
}

/* header */

header .first_line {
    background-color: rgb(36, 31, 22);  
    padding: 10px 0;
}

header .wpcf7-form-control-wrap {
    display: block;
    position: relative;
}

header .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    background-color: rgb(36, 31, 22);
    border: none;
    height: 30px;
    width: 100%;
    outline: none;
    padding-left: 40px;
    font-size: 12px;
    color: rgb(249, 245, 239);
    text-transform: uppercase;
}

header .wpcf7-form-control-wrap::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -10px -10px;
	width: 26px;
	height: 26px;
    position: absolute;
    left: 5px;
    top: 5px;
}

header .form input:not([type=submit]):focus {
	border: none;
}

header .currency {
    margin: 0;
    padding: 0;
}

header .currency li {
    list-style: none;
    color: rgb(249, 245, 239);
    text-transform: uppercase;
    position: relative;
}

header .currency li::after {
    content: "";
    background: url(../images/sprites.svg) no-repeat -144px -26px;
	width: 10px;
	height: 10px;
    position: absolute;
    right: 0;
}

header .account {
    text-transform: uppercase;
    text-decoration: none;
}

header .favorites {
    display: block;
    background: url(../images/sprites.svg) no-repeat -50px -10px;
	width: 29px;
	height: 26px;
}

header .basket {
    display: block;
    background: url(../images/sprites.svg) no-repeat -94px -10px;
	width: 24px;
	height: 26px;
}

header .second_line {
    background-color: rgb(249, 245, 239);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}

.logo {
    display: block;
    background-color: rgb(36, 31, 22);
    width: 100px;
    height: 85px;
    margin: 0 auto 20px;
}

.menu{
	margin:0 auto;
	padding:0;    
}

.menu:after{
	content:"";
	display:block;
	clear:both;
}

.menu li{
    display: block;
    float: left;
    position: relative;
}  

.menu a{
    display: block; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 0 17px;
}

header .menu .with_arrow::after {
    content: "";
    background: url(../images/sprites.svg) no-repeat -144px -26px;
	width: 10px;
	height: 10px;
    position: absolute;
    right: 0;
    top: 8px;
}

.menu .submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    display: none;
}

.menu li:hover .submenu {
    display: block;
}

.menu .submenu li {
    position: relative;
    transition: all .2s linear 0s;
}

.menu .submenu li a {
    position: relative;
    text-decoration: none;
}

/* slider_screen */

.slider_screen {
    background: #f9f5ef;
    height: 540px;
    position: relative;
    padding-top: 55px;
}

.slider_screen .background1 {
    background: url(../images/branches_bg_1.jpg);
    position: absolute;
    right: 0;
    top: 15px;
    width: 82%;
    height: 440px; 
}

.slider_screen .background2 {
    background: url(../images/branches_bg_1.jpg);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 58%;
    height: 440px;
}

.slider_screen .slider_wr {
    position: relative;
}

.transparent {
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider_screen h1, .slider_screen h2 {
    font: 700 60px "Unna";
    color: rgb(249, 245, 239);
}

.slider_screen .description {
    font-size: 18px;
    color: rgb(249, 245, 239);
}

.button {
    display: block;
    border: 2px solid rgb(249, 245, 239);
    border-radius: 35px;
    background: rgba(41, 36, 33, 0);
    width: 220px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(249, 245, 239);
    text-align: center;
    outline: none;
    box-sizing: border-box;
    text-decoration:none;
    cursor:pointer;
}

.slider_screen .button {
    position: absolute;
    left: 75px;
    bottom: 150px;
}

/* instagram_screen */

.instagram_screen {
    background: #f9f5ef;
    padding: 30px 0;
}

.instagram_screen .caption {
    font-size: 24px;
    color: rgb(36, 31, 22);
    text-align: center;
}

.instagram_screen h3 {
    font-size: 15px;
    color: rgb(36, 31, 22);
    text-align: center;
}

.instagram_screen h3 a {
    color: #a89f8d;
    text-decoration: none;
    font-size: 15px;
}

.instagram_screen .insta_pics {
    margin: 0 -20px;
}

.instagram_screen .fancy_wr  {
    box-sizing: border-box;
    width: 25%;
    padding: 20px;
}

.instagram_screen .fancy_wr img {
    width: 100%;
}

/* footer */

footer {
    background-color: #241f16;
    padding: 40px 0 20px;
}

footer .logo {
    background-color: rgb(188, 174, 149);
}

footer .line {
    background-color: rgb(188, 174, 149);
    width: 100%;
    height: 1px;
    margin: 20px 0;
}

footer .footer_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .menu a {
    font-size: 14px;
    color: rgb(188, 174, 149);
}

footer .social_icons {
    margin: 38px auto 17px;
}

footer .social_icons .icon {
    background: url(../images/sprites.svg) no-repeat -7px -57px;
	width: 30px;
	height: 30px;
    margin: 0 12px;
}

footer .social_icons .vk.icon {
    background-position: -48px -57px;
}

footer .social_icons .insta.icon {
    background-position: -86px -57px;
}

footer .copyright {
    font-size: 13px;
    font-weight: 300;
    color: rgb(188, 174, 149);
    text-align: center;
}



/*Coin Slider jQuery plugin CSS styles*/


.coin-slider { 
    overflow: hidden; 
    zoom: 1; 
    position: relative; 
}

.coin-slider a{ 
    text-decoration: none; 
    outline: none; 
    border: none; 
}

.coin-slider a img {
    width: 1200px;
}

.cs-buttons { 
    font-size: 0px; 
    float: left; 
    position: absolute;
    bottom: 35px;
}

.cs-buttons a { 
    margin: 0 5px; 
    height: 12px; 
    width: 12px; 
    float: left; 
    border: 2px solid rgb(255, 255, 255); 
    border-radius: 50%;
    background-color: rgba(231, 232, 209, 0.6);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-indent: -1000px; 
}

.cs-buttons a.cs-active { 
    background-color: rgb(255, 255, 255); 
}

.cs-active { 
    background-color: rgb(255, 255, 255); 
    color: #FFFFFF; 
}

.cs-title { 
    max-width: 450px;
}

.cs-prev, 
.cs-next { 
    display: none;
}


